a {
  color: #fff;
  display: block;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-decoration: none;
}

h1 {
  background-color: #000;
  color: #e9e05f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 0px;
  padding: 150px;
  text-align: center;
}

li {
  float: right;
}

ul {
  background-color: #707070;
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.container {
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 1140px;
}

#logo {
  color: #fff;
  display: block;
  float: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 15px;
  text-decoration: none;
}

.rounded-boxes {
  display: flex;
}

.square-boxes {
  display: flex;
}

.box1 {
  background-color: #a4ffd7;
  border-radius: 10%;
  flex: auto;
  height: 250px;
  margin: 50px 50px 25px 50px;
}

.box2 {
  background-color: #a4ffd7;
  border-radius: 10%;
  flex: auto;
  height: 250px;
  margin: 50px 50px 25px 50px;
}

.box3 {
  background-color: #a4ffd7;
  border-radius: 10%;
  flex: auto;
  height: 250px;
  margin: 50px 50px 25px 50px;
}

.box4 {
  background-color: #ffc36c;
  float: left;
  height: 250px;
  margin: 25px 50px 25px 50px;
  width: 500px;
}

.box5 {
  background-color: #ffc36c;
  float: right;
  height: 250px;
  margin: 25px 50px 25px 50px;
  width: 500px;
}

.content {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 200px;
  margin: 25px 0px 0px 150px;
  text-align: left;
  width: 300px;
}

.photo {
  float: right;
  height: auto;
  margin: 20px 100px 20px 100px;
  width: 300px;
}

.footer {
  background-color: #3a3a56;
  clear: both;
  height: 150px;
  margin: auto;
}
